body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #2f2f2f;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: white;
}

section {
    padding: 80px 20px; /* Adjust padding to avoid overlap with the header */
    max-width: 800px;
    margin: 0 auto;
}

#about,
#experience,
#projects,
#competencies,
#recommendations {
    padding: 50px 0;
}

h1, h2 {
    color: white;
}

p {
    line-height: 1.6;
}